{% extends 'base.html' %}

{% block body %}
    <div class="container mx-auto h-full flex flex-col my-40 justify-center items-center">

    <h1 class="h1 font-serif text-6xl my-4">Password reset sent</h1>
    <p class="h4 font-serif text-2xl my-4">
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.


    </p>
</div>
{% endblock body %}