
{% extends 'base.html' %}  

{% block body %}


    <div class="min-h-screen flex items-center justify-center">
      <div class="max-w-md w-full py-6 px-8 bg-white shadow-lg rounded-lg">
        <h1 class="text-3xl font-semibold text-gray-800 mb-6">Signup</h1>
        <form method='POST'> {% csrf_token %}
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="username">
              Profile Upload
            </label>
            {{ form.profile_image }}
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="username">
              Username
            </label>
            {{ form.username }}
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="username">
              First Name
            </label>
            {{ form.first_name }}
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="username">
              Last Name
            </label>
            {{ form.last_name }}
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="email">
              Email Address
            </label>
            {{ form.email }}

          </div>
          <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="password">
              Password
            </label>
            {{ form.password1 }}
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="cpassword">
              Confirm Password
            </label>
            {{ form.password2 }}
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="cpassword">
              Phone
            </label>
            {{ form.phone_number }}
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="cpassword">
              Country
            </label>
            {{ form.country }}
          </div>
          <div class='flex justify-center space-x-8'>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Signup
            </button>
            <a href="{% url 'login' %}" type='button' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Log in</a>
          </div>
        </form>
      </div>
    </div>
    {% if errors %}
    <div id='alert' class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <!--
        Background backdrop, show/hide based on modal state.
    
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <!--
            Modal panel, show/hide based on modal state.
    
            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                  <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                  </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Something went wrong</h3>
                  <div class="mt-2">
                    <p class="text-sm text-gray-500">{{errors}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
              <button type="button" id='ok-button' class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Try Again</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    
 
    {% endblock body %}


    {% block script %}
    <script>
      const alert = document.getElementById('alert');
      const okButton = document.getElementById('ok-button');

      okButton.addEventListener('click', () => {
        alert.classList.add('hidden');
      });

      alert.classList.remove('hidden');
    </script>
    {% endblock script %}